<!DOCTYPE html>
<html>
	<head>
		<title>DOCUMENTATION</title>
		<link rel='stylesheet' href='/stylesheets/retro.css' />
	</head>
</html>
<body>
	{{#each contents}}
		<li><a href="#{{@key}}">{{@key}}</a></li>
	{{/each}}
	<div>
		{{#each contents}}
			<div id="{{@index}}">
				<h3>{{@key}}</h3>
				<div id="{{@key}}">{{{this}}}</div>
			</div>
		{{/each}}
	</div>
</body>

